#answer {
  font-size: 700%;
}

#score {
	font-size: 200%;
}

.yes {
  color: green;
}

.no {
  color: red;
}

#content {
  text-align: center;
  color: black;
}

#gif {
  width:90%;
  height:0;
  padding-bottom:56%;
  padding-left:3%;
  position:relative;
}